/* General */
html {
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
    
}
body {
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}


/* Navbar */
.navbar {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.company {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 2.5rem;
    width: bold;
}
.company div {
    margin: 0rem 1rem;
}
.logo i {
    font-size: 5rem;
    color: #ffb901
}
.brand {
    color: #ffb901
}
.user{
    display: flex;
    align-items: center;
}

.user-icon {
    font-size: 3rem;
    margin: 0rem 1rem;
}
.user-name {
    font-size: 2rem;
    text-transform: uppercase;
}
.navbar-links {
    display: flex;
    align-items: center;
}
.navbar-links i,a{
    margin-right: 1rem;
    font-size: 2rem;
    color: #ffb901;
}
.navbar-links i {
    margin: 0 0.5rem;
    font-size: 2.5rem;


}

/* Main */
.search{
    margin: 1.5rem auto;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    
}
.search input {
    border: none;
    width: 80%;
    padding: 1.5rem;
    font-size: 2rem;
}
.search input:focus {
    outline: none;
    border: none;
}
.search button {
    padding: 1rem;
    margin-left: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 2rem;
}
.musics {
    padding-right: 2rem;
}
.musics a {
    color: black;
}

.music {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: lightcyan;
    max-height: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 0.1rem solid lightgray;
}
.music-rating {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.music-rating span {
    font-size: 4rem;
    margin: 0 1rem;
}

.musics ul li i {
    font-size: 4rem;
    cursor: pointer;
    margin: 0;
    
}
.music-name {
    font-size: 2rem;
    margin-bottom: 0rem;
    text-align: center;
    
}

.music-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}

.music div {
    max-height: 4rem;
    max-width: 40%;
}



/* Register Form */
.register {
    margin: 1.5rem auto;
    width: 50%;
}
.register-form  {
    padding: 2rem;
    font-size: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    text-align: center;
    border-radius: 1rem;
}
.register-inputs {
    display: flex;
    flex-direction: column;

}
.register-passwords {
    display: flex;
    justify-content: space-evenly;
}
input {
    padding: 1.5rem;
    outline: none;
    border: none;
    font-family: inherit;
    border-bottom: 2px solid #666;
    transition: all .5s;
}
.register input:focus{
    font-size: 1rem;
}

.register button {
    width: 40%;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
    background-color: #27cfc3;
    transition: all 1s;
    border-radius: 1rem;
    font-size: 2rem;
}

.register button:hover {
    background-color: #4dae3c;
}
.register-error {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: red;
    color: white;
}
.has-account a{
    font-size: 1.5rem;
    margin-left: 0; 
}

/* Login Form */
.login-form {
    padding: 2rem;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 50%;
    text-align: center;
    margin: 0rem auto;
    border-radius: 1rem;
}
.login-inputs {
    display: flex;
    flex-direction: column;
}
.login input:focus{
    font-size: 2rem;
}
.login button{
    width: 40%;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
    background-color: #27cfc3;
    transition: all 1s;
    border-radius: 1rem;
    font-size: 2rem;
}
.login button:hover {
    background-color: #4dae3c;
    
}
.no-account a{
    font-size: 1.5rem;
    margin-left: 0; 
}

.login-error {
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: red;
    color: white;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}
.upload progress {
    padding: 2rem;
    margin: 1rem auto;
    width: 50%;
}

/* Loading Screen */
.loading {
    text-align: center;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  

/* LOWER WIDTH SCREENS */
@media only screen and (max-width: 750px) {
    .user-icon {
        display: none;
    }
    .user-name {
        font-size: 1.5rem;
    }

    .logo {
        display: none;
    }
    .music-name {
        font-size: 1rem;
    }
    .register-passwords {
        flex-direction: column;
    }
    .register button {
        font-size: 1.5rem;
        width: 80%;
    }
    .login button {
        font-size: 1.5rem;
        width: 80%;
    }
}